@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato&family=Roboto&display=swap');

* {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: 'Do Hyeon', 'Roboto', 'Lato', sans-serif;
    line-height: 1.15;
}

footer {
    color: #323440;
}

a {
    cursor: point;
    text-decoration: none;
    color: inherit;
}

ol, ul {
    margin: 0;
    padding: 0;
}

.Post__title {
    color: #5C6BC0;

}
.Post__subtitle {
    font-weight: 100;
    color: #323440;
}

.Post__date {
    color: #808080;
}

.Nav__Item {
    color: #5C6BC0;
}

.header-name {
    grid-area: header;
}

.header-name > h1 {
    font-weight: 900;
}
.header-search {
    grid-area: search;
}

.Layout__Content {
    grid-area: main;
}

.Post__Wrapper {
    list-style-type: none;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.Post__tags {
    list-style-type: none;
}

/* footer */
.Footer__App {
    grid-area: footer;
    text-align: center;
}

.Layout__Wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    grid-template-rows: auto;
    grid-template-areas:
        "header search search ."
        ". main main ."
        "footer footer footer footer";
}
