<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }} | {% endif %}아델라의 블로그</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta property="og:title" content="Blog for Adela" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://adela.love">
  <meta property="og:description" content="아델라의 블로그입니다.">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
</head>

<div class="Layout__Wrapper">
  <div class="header-name Nav__Item">
    <h1><a href="{{ url_for('index') }}">love_adela</a></h1>
  </div>
  <div class="header-search Nav__Item">
    <input type="search" id="h-search" placeholder="게시물 검색은 여기에">
    <button id="hs-b">검색</button>
  </div>
  <div class="header-write">
    <a href="{{ url_for('new') }}"><button class="btn-write">글쓰기</button></a>
  </div>
  {% block content %}
  {% endblock %}
</div>
<footer class="Footer__App">
  <h3>Copyright ©love_adela. All Rights Reserved.</h3>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
