<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        {% if title %}
        <title>{{ title }}</title>
        {% endif %}
        <meta property="og:title" content="Blog for Adela" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://adela.love">
        <meta property="og:description" content="아델라의 블로그입니다.">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="Layout__Wrapper">
            <div class="header-name Nav__Item">
                <div>
                    <h1><a href="">love_adela</a></h1>
                </div>
            </div>
            <div class="header-search Nav__Item">
                <label><input type="search" id="h-search" placeholder="게시물 검색은 여기에"></label>
                <button id="hs-b">검색</button>
            </div>
            <div class="header-write">
                <button type="button" class="btn-write" onclick="postArticle()">글쓰기</button>
            </div>
            <div class="Layout__Content" id="post-lc">
                <ol class="Post__list">
                    {% for item in data %}
                    <li class="Post__Wrapper">
                        <a class="" href="#">
                            <h2 class="Post__title">{{ item.post_title }}</h2>
                            <small class="Post__date">2020-11-03</small> <!-- TODO: 날짜 동기화되게 하기 -->
                            <h4 class="Post__subtitle">{{ item.post_subtitle }}</h4>
                            <ul class="Post__tags">
                                {% for tag in tags %}
                                <li>{{ tag }}</li> <!-- TODO: tag 바로 옆에 나열되게 수정하기 -->
                                {% endfor %}
                            </ul>
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <footer class="Footer__App">
                <h3>Copyright ©love_adela. All Rights Reserved.</h3>
            </footer>
        </div>
        <script>
            $(document).ready(function (){
                $("#post-lc").html("");
                getArticle();
            }
            );

            function postArticle() {
                $.ajax({
                    type: "POST",
                    url: "/articles",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                        }
                    }
                })
            }

            function getArticle() {
                $.ajax({
                    type: "GET",
                    url: "/articles",
                    data: {},
                    suceess: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                        }
                    }
                })
            }

            function post(title, subtitle, tags) {

            }
        
        </script>
    </body>
</html>