{% extends "base.html" %}

{% block style %}
index.css
{% endblock %}

{% block content %}
<div class="Layout__Content" id="post-lc"></div>
{% endblock %}

{% block scripts %}
<script>
$.ajax({
  type: 'GET',
  url: '{{ url_for("get_articles") }}',
  success: function (response) {
    for (const article of response.articles) {
      $('#post-lc').prepend(`
        <ol class="Post__list">
          <li class="Post__Wrapper">
            <a class="" href="#">
              <div class="Post__title">
                <h2 class="Post__title-h">${article.title}</h2>
                <small class="Post__date">2020-11-03</small>
              </div>
              <h4 class="Post__subtitle">${article.subtitle}</h4>
            </a>
          </li>
        </ol>
      `)
    }
  }
})
</script>
{% endblock %}
