{% extends "base.html" %}

{% block style %}
new.css
{% endblock %}

{% block content %}
<div class="Layout__Form">
  <div class="form-group">
    <label for="title">제목</label>
    <input id="post-title" type="text" placeholder="">
  </div>
  <div class="form-group">
    <label for="subtitle">내용 요약</label>
    <textarea id="post-subtitle" type="text" rows="2"></textarea>
  </div>
  <div class="form-group">
    <label for="content">본문</label>
    <textarea id="post-content" type="text" rows="10"></textarea>
  </div>
  <button class="post-button" onclick="postArticle()" value="execute">게시하기</button>
</div>
{% endblock %}

{% block scripts %}
<script>
function postArticle() {
  fetch('{{ url_for("get_articles") }}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      title: $('#post-title').val(),
      subtitle: $('#post-subtitle').val(),
      content: $('#post-content').val()
    })
  })
  .then(response => {
    if (response.ok) {
      response.json()
    } else {
      throw new Error(response)
    }
  })
  .then(data => {
    location.href = '{{ url_for("index") }}'
  })
  .catch(error => {
    // TODO: 실패한 이유 적절하게 유저들에게 표시
    console.error(error)
  })
}
</script>
{% endblock %}
